  <div id="cover">
      <%= image_tag "BaconSpaceKitty.jpg" %>
      <div class="cover-text">
        <h1> Kittens & Bacon </h1>
      </div>
        <%= image_tag "cat-face.JPG", :class =>"cat-top-head"%>
      <div class="top-head">
        <p>The only Bacon blog by Kittens!</p>
      </div>
      <div id="cover-nav-text">
        <p>About Search</p>
      </div>
  </div>

    <div id="article">
      <div class="article-header">
        <h2><%= @post.title %></h2>
      </div>
      <div class="article-header-info">
        <%= image_tag "kittyauthor.png" %>
        <p class="author"><%= @post.author %></p>
        <p>on <%= @post.created_at %></p>
      </div>
        <p><%= @post.body%></p>
        <br />
        <h3 class="quote">Holy Crispy Kitty!</h3>
        <p><%= @post.body%></p>
        <%= image_tag"button-save.png", :class => "article-buttons2"%>
        <a href="http://uptobuildingcode.blogspot.com/"><%= image_tag"comment_button.png", :class => "article-buttons"%>
        <a href="https://www.facebook.com/ben.doane.3"> <%= image_tag "share-button.png", :class => "article-buttons3"%>
    </div>
    <div id="infobar">
      <%= image_tag "kittyauthor.png", :class => "author"%>
      <p class="infobar-section-heading"><%= @post.author %></p>
      <a href="https://www.youtube.com/watch?v=-5f54K4y3rc">Eating Bacon</a>
      <text>|</text>
      <a href="https://www.youtube.com/watch?v=LDsBbwRATAM">Catching Bacon</a>
      <text>|</text>
      <a href="https://www.youtube.com/watch?v=O7cSxIKi_us">Help me!</a>
      <a href="https://www.youtube.com/watch?v=2_IimtcP-rk"><%= image_tag "bacon_advert.jpg", :class => "advert"%></a>
      <div class="infobar-moar">
        <h3>MOAR BACON</h3>
        <p class="article-text">Fatback tenderloin cow beef ribs spare ribs jowl. Meatball drumstick leberkas, alcatra prosciutto beef pig ham hock picanha corned beef tongue turducken biltong. Chuck jerky tri-tip swine tongue, meatball short loin biltong fatback ham hock flank. Corned beef kielbasa brisket bresaola cupim swine pig biltong kevin. Kielbasa chuck porchetta prosciutto, beef ribs pork t-bone doner landjaeger. Ham hock sirloin beef shankle. Alcatra turkey ham prosciutto tongue tri-tip.
        </p>
      </div>
    </div>
    <div id="bottombar">
      <h1 class="bottombar-text">MOAR POPLAR POSTS</h1>
    </div>


    <div id="footlinks">
      <div class="screen"></div>
      <% @post2.each_with_index do |p, index| %>
        <% if index == 0 %>
          <a href="http://www.grumpycats.com/"><%= image_tag p.photo, :class => "cat1" %></a>
        <% else %>
          <a href="http://www.grumpycats.com/"><%= image_tag p.photo, :class => "cat2" %></a>
        <% end %>
        <div class="cattext">
          <h4><%= p.title %></h4>
        </div>
        <%end%>
      </div>


    <div id="footer">
      <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4"><%= image_tag "nyan-cat.jpg"%></a>
      <p class="footer-left">Kittens & Bacon 2015. All Rights Reserved.</p>
      <div class="footer-right">
        <a href="https://www.linkedin.com/profile/view?id=ADEAAAoGytwB-x7qez4T_ss1TntKI-lTja8ZC6U&authType=NAME_SEARCH&authToken=6KaF&locale=en_US&srchid=1682173081445788820062&srchindex=1&srchtotal=8&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1682173081445788820062%2CVSRPtargetId%3A168217308%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH">Author</a>
        <text>  |  </text>
        <a href="http://theironyard.com/">Iron Yard  </a>
        <text>  |  </text>
        <a href="https://placekitten.com/">  Kitten Place Images  </a>
        <text>  |  </text>
        <a href="https://baconipsum.com/">Bacon Ipsum</a>
      </div>
    </div>
